{% extends 'home/base.html' %}


{% block body %}
    <div class="text-center">
        <h3>The Quest of the Hero</h3>

        <p>In a land far, far away, there was a {{ i.adjective }} {{ i.noun }} named {{ i.name }}. {{ i.name }} had always been known for their bravery and quick thinking, and so when the kingdom was threatened by an evil sorcerer, the King called upon {{ i.name }} to go on a quest to defeat the sorcerer and save the kingdom.</p>
        <p>{{ i.noun }} accepted the challenge and set out on their quest, determined to vanquish the evil that threatened their land. They traveled across treacherous mountains, through dark forests, and across raging rivers, battling fierce monsters and dodging deadly traps along the way.</p>
        <p>As {{ i.name }} journeyed deeper into the enemy territory, they learned that {{ i.noun2 }} had powerful magic and an army of minions at their command. But {{ i.name }} refused to be intimidated, and they continued on, knowing that the fate of the kingdom rested on their shoulders.</p>
        <p>Finally, after many long weeks of travel and battle, {{ i.name }} reached the {{ i.noun2 }}'s {{ i.place }}. They snuck past the guards and made their way to the heart of the {{ i.place }}, where they confronted the {{ i.noun2 }} in a {{ i.adjective2 }} battle of magic and strength.</p>
        <p>But {{ i.name }} knew that their quest was not over. They had seen the darkness that lurked in the heart of the kingdom, and they knew that there would always be new challenges to face and new quests to undertake. And so {{ i.name }} set out once again, ready to face whatever dangers lay ahead.</p>
        <p>The end.</p>
    </div>
{% endblock %}
    